<section class="home container-fluid aling-items-center custom-register-bg ">
    <div class="row d-flex justify-content-center align-items-center ">
        
        <div class="col-10 col-md-9 col-lg-4 d-flex justify-content-center align-items-center">
            <form class="form w-100 my-5 "  [formGroup]="registerForm">
                <h2  class="text-center text-custom-font display-1 my-5 text-white display-6">Register</h2>
                
                <div class="d-flex justify-content-evenly ">
                    <div class="field me-1 " [ngClass]="{invalid: registerForm.get('firstName')?.errors && registerForm.get('firstName')?.touched}">
                        <i class="fa fa-solid fa-user"></i>
                        <input autocomplete="off" placeholder="First name" class="input-field" type="text" formControlName="firstName">
                        <span *ngIf="registerForm.get('firstName')?.hasError('required') && registerForm.get('firstName')?.touched"  class="text-danger error-custom">First name is require</span>
                        <span *ngIf="registerForm.get('firstName')?.hasError('minlength') && registerForm.get('firstName')?.touched"  class="text-danger error-custom">First allmore 3 characters</span>
                        <span *ngIf="registerForm.get('firstName')?.hasError('maxlength') && registerForm.get('firstName')?.touched"  class="text-danger error-custom">First allmore 10 characters</span>
                    </div>
                    <div class="field me-1" [ngClass]="{invalid: registerForm.get('middleName')?.errors && registerForm.get('middleName')?.touched}">
                        <i class="fa fa-solid fa-user"></i>
                        <input autocomplete="off" placeholder="Middle name" class="input-field" type="text" formControlName="middleName">
                    </div>
                    <div class="field " [ngClass]="{invalid: registerForm.get('lastName')?.errors && registerForm.get('lastName')?.touched}">
                        <i class="fa fa-solid fa-user"></i>
                        <input autocomplete="off" placeholder="Last name" class="input-field" type="text" formControlName="lastName">
                        <span *ngIf="registerForm.get('lastName')?.hasError('required') && registerForm.get('lastName')?.touched"  class="text-danger error-custom">Last name is require</span>
                        <span *ngIf="registerForm.get('lastName')?.hasError('minlength') && registerForm.get('lastName')?.touched"  class="text-danger error-custom">Last allmore 3 characters</span>
                        <span *ngIf="registerForm.get('lastName')?.hasError('maxlength') && registerForm.get('lastName')?.touched"  class="text-danger error-custom">Last allmore 10 characters</span>
                    </div>

                </div>


                <div class="d-flex justify-content-evenly ">
                    <div class="d-flex">
                        <div class="field me-5 " [ngClass]="{invalid: registerForm.get('suffix')?.errors && registerForm.get('suffix')?.touched}">
                            <i class="fa fa-solid fa-user"></i>
                            <input autocomplete="off" placeholder="Suffix" class="input-field" type="text" formControlName="suffix">
                        </div>
                        <div class="field ms-5 " [ngClass]="{invalid: registerForm.get('title')?.errors && registerForm.get('title')?.touched}">
                            <i class="fa fa-solid fa-user"></i>
                            <input autocomplete="off" placeholder="Title" class="input-field" type="text" formControlName="title">
                        </div>

                    </div>
                   
                </div>
               
                <div class="field" [ngClass]="{invalid: registerForm.get('email')?.errors && registerForm.get('email')?.touched}">
                    <i class="fa fa-solid fa-envelope"></i>
                    <input autocomplete="off" placeholder="Email" class="input-field" type="email" formControlName="email">
                    <span *ngIf="registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched"  class="text-danger error-custom"> Email is require</span>
                    <span *ngIf="registerForm.get('email')?.hasError('email') && registerForm.get('email')?.touched"  class="text-danger error-custom"> Email is not valid</span>
                    
                </div>
                <div class="field" [ngClass]="{invalid: registerForm.get('phone')?.errors && registerForm.get('phone')?.touched}">
                    <i class="fa fa-solid fa-phone"></i>
                    <input autocomplete="off" placeholder="Phone" class="input-field" type="number" formControlName="phone">
                    <span *ngIf="registerForm.get('phone')?.hasError('required') && registerForm.get('phone')?.touched"  class="text-danger error-custom"> phone is require</span>
                    <span *ngIf="registerForm.get('phone')?.hasError('minlength') && registerForm.get('phone')?.touched"  class="text-danger error-custom"> phone is not valid</span>
                    <span *ngIf="registerForm.get('phone')?.hasError('maxlength') && registerForm.get('phone')?.touched"  class="text-danger error-custom"> phone is not valid</span>
                </div>
                <div class="d-flex">
                    <div class="field me-5 " [ngClass]="{invalid: registerForm.get('password')?.errors && registerForm.get('password')?.touched}">
                        <svg class="input-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" viewBox="0 0 16 16">
                            <path
                                d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z">
                            </path>
                        </svg>
                        <input placeholder="Password" class="input-field" type="password" formControlName="password">
                    <span *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched"  class="text-danger error-custom"> password is require</span>
                    <span *ngIf="registerForm.get('password')?.hasError('minlength') && registerForm.get('password')?.touched"  class="text-danger error-custom"> password is moreless than 8</span>
                    </div>
                    <div class="field ms-4" [ngClass]="{invalid: registerForm.get('confirmedPassword')?.errors && registerForm.get('confirmedPassword')?.touched}">
                        <svg class="input-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" viewBox="0 0 16 16">
                            <path
                                d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z">
                            </path>
                        </svg>
                        <input placeholder="ConfirmedPassword" class="input-field" type="password" formControlName="confirmedPassword">
                    <span *ngIf="registerForm.get('confirmedPassword')?.hasError('required') && registerForm.get('confirmedPassword')?.touched"  class="text-danger error-custom"> Confirmed password is require</span>
                    <span *ngIf="registerForm.get('confirmedPassword')?.hasError('mismatch') && registerForm.get('confirmedPassword')?.touched"  class="text-danger error-custom">Confirm password does not match</span>

                    </div>

                </div>
               
                <button class="btn button1 border-0 rounded-5 mb-3" [disabled]="registerForm.invalid">Register</button>

                

            </form>
        </div>
    </div>
</section>