<header class="header">
  <h1 class="text-custom-font h1-custom">Bike Ville</h1>
    <div class="overlay d-flex justify-content-center align-items-center">
      <button class="button type1 me-2" type="button">
        <span class="btn-txt display-6">Login</span>
      </button>
      <button class="button type1 ms-2" type="button">
        <span class="btn-txt display-6">Register</span>
      </button>
    </div>
    <video autoplay loop id="myVideo">
      <source src="assets/header.mp4" type="video/mp4" >
    </video>
</header>

