<form class="form w-100 my-5 " [formGroup]="resetPassForm">
    <div class="d-flex justify-content-center">

        <div class="d-flex justify-content-evenly flex-column w-100 mt-3">



            <div class="field  w-100 mb-3" [ngClass]="{invalid: resetPassForm.get('oldPassword')?.errors && resetPassForm.get('oldPassword')?.touched}">
                <svg class="input-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    viewBox="0 0 16 16">
                    <path
                        d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z">
                    </path>
                </svg>
                <input placeholder="old  Password" class="input-field " type="text"
                    formControlName="oldPassword">
                <span
                    *ngIf="resetPassForm.get('oldPassword')?.hasError('required') && resetPassForm.get('oldPassword')?.touched"
                    class="text-danger error-custom">oldPassword is require</span>
                    <span
                    *ngIf="resetPassForm.get('oldPassword')?.hasError('mismatchOldPass') && resetPassForm.get('oldPassword')?.touched"
                    class="text-danger error-custom">oldPassword is require</span>

            </div>
            <div class="field  w-100 mb-3"
                [ngClass]="{invalid: resetPassForm.get('newPassword')?.errors && resetPassForm.get('newPassword')?.touched}">
                <svg class="input-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    viewBox="0 0 16 16">
                    <path
                        d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z">
                    </path>
                </svg>
                <input placeholder="new Password" class="input-field" type="text"
                    formControlName="newPassword">
                <span
                    *ngIf="resetPassForm.get('newPassword')?.hasError('required') && resetPassForm.get('newPassword')?.touched"
                    class="text-danger error-custom">newPassword is require</span>

            </div>
            <div class="field  w-100"
                [ngClass]="{invalid: resetPassForm.get('confermedPassword')?.errors && resetPassForm.get('confermedPassword')?.touched}">
                <svg class="input-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    viewBox="0 0 16 16">
                    <path
                        d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z">
                    </path>
                </svg>
                <input placeholder="confermed Password" class="input-field" type="text"
                    formControlName="confermedPassword">
                    <span
                    *ngIf="resetPassForm.get('confermedPassword')?.hasError('required') && resetPassForm.get('confermedPassword')?.touched"
                    class="text-danger error-custom"> Confirmed password is require</span>
                <span
                    *ngIf="resetPassForm.get('confermedPassword')?.hasError('mismatch') && resetPassForm.get('confermedPassword')?.touched"
                    class="text-danger error-custom">Confirm password does not match</span>

            </div>

        </div>

    </div>
    <button type="submit" class="btn btn-light mb-1" [disabled]="resetPassForm.invalid" (click)="submitUpdatePass()"> Cambia password</button>






</form>