<section class="home container-fluid aling-items-center  ">
    <div class="row d-flex justify-content-center align-items-center">
    
      <div class="ms-5 col-10 h-100">
        <router-outlet></router-outlet>
      </div>
        
       
  
    </div>
</section>
<div id="nav-bar" class="h-50 mt-5">
  <input id="nav-toggle" type="checkbox" [(ngModel)]="isClose"/>
  <div id="nav-header">
    <span id="nav-title">Admin HUB</span>
    <label for="nav-toggle"><i class="fa-solid fa-minus" *ngIf="!isClose"></i><i class="fa-solid fa-plus" *ngIf="isClose"></i></label>
    <hr/>
  </div>
  <div id="nav-content" style="height: fit-content;">
    <a routerLink="/adminHUB/{{authUser.emailAddress}}/users" class="nav-button"><i class="fas fa-users"></i><span>Customers</span></a>
    <hr/>
    <a routerLink="/adminHUB/{{authUser.emailAddress}}/products" class="nav-button"><i class="fas fa-brands fa-shopify"></i><span>Products</span></a>
    <hr/>

    <div id="nav-content-highlight"></div>
  </div>
  <input id="nav-footer-toggle" type="checkbox"/>
 
</div>