<section class="home container-fluid aling-items-center  ">
    <div class="row d-flex justify-content-center align-items-center vh-100">
    
      <div class="ms-5 col-10 h-100">
        <router-outlet></router-outlet>
      </div>
        
       
  
    </div>
</section>
<div id="nav-bar" class="h-50">
  <input id="nav-toggle" type="checkbox" [(ngModel)]="isClose"/>
  <div id="nav-header">
    <span id="nav-title">Admin HUB</span>
    <label for="nav-toggle"><i class="fa-solid fa-minus" *ngIf="!isClose"></i><i class="fa-solid fa-plus" *ngIf="isClose"></i></label>
    <hr/>
  </div>
  <div id="nav-content" style="height: fit-content;">
    <a routerLink="/adminHUB/{{authUser.emailAddress}}/users" class="nav-button"><i class="fas fa-users"></i><span>Users</span></a>
    <a routerLink="/adminHUB/{{authUser.emailAddress}}/usersManagment" class="nav-button"><i class="fas fa-user-pen"></i><span>Management Users</span></a>
    <hr/>
    <a routerLink="/adminHUB/{{authUser.emailAddress}}/products" class="nav-button"><i class="fas fa-brands fa-shopify"></i><span>Products</span></a>
    <a routerLink="/adminHUB/{{authUser.emailAddress}}/productsManagment" class="nav-button"><i class="fas fa-brush"></i><span>Management Products</span></a>
    <hr/>
    <a routerLink="/adminHUB/{{authUser.emailAddress}}/exportProducts" class="nav-button"><i class="fas fa-folder"></i><span>Export products Data</span></a>
    <a routerLink="/adminHUB/{{authUser.emailAddress}}/exportUsers" class="nav-button"><i class="fas fa-folder"></i><span>Export users Data</span></a>
    <div id="nav-content-highlight"></div>
  </div>
  <input id="nav-footer-toggle" type="checkbox"/>
 
</div>