<footer class="footer-section ">
	<div class="container">
		<div class="footer-cta pt-5 pb-5">
			<div class="row ">
				<div class="col-xl-4 col-md-4 mb-30 d-md-flex justify-content-center">
					<div class="single-cta">
						<i class="fas fa-map-marker-alt"></i>
						<div class="cta-text">
							<h4>Puoi trovarci</h4>
							<span>1010 Avenue, sw 54321, chandigarh</span>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-md-4 mb-30 d-md-flex justify-content-center">
					<div class="single-cta">
						<i class="fas fa-phone"></i>
						<div class="cta-text">
							<h4>Telefono</h4>
							<span>9876543210 0</span>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-md-4 mb-30 d-md-flex justify-content-center">
					<div class="single-cta">
						<i class="far fa-envelope-open"></i>
						<div class="cta-text">
							<h4>Mail</h4>
							<span>{{"mail@infoo.com"}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-content pt-5 pb-5">
			<div class="row">
				<div class="col-xl-4 col-lg-4 mb-50">
					<div class="footer-widget">
						<div class="footer-logo">
							<span class="display-5 ms-4 text-custom-font text-logo ">Bike Ville</span>
						
						</div>
						<div class="footer-text">
							<p>Bike Ville è il tuo punto di riferimento online per tutto ciò che riguarda il mondo delle biciclette. Offriamo soluzioni innovative per ogni tipo di ciclista, siamo qui per accompagnarti in ogni pedalata.</p>
						</div>
						<div class="footer-social-icon">
							<span>Seguici</span>
							<a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
							<a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
							<a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 mb-30 d-flex justify-content-center">
					<div class="footer-widget">
						<div class="footer-widget-heading">
							<h3>Link utili</h3>
						</div>
						<ul>
							<li><a  routerLink="/">Home</a></li>
							<li><a href="#">about</a></li>
							<li><a href="#">services</a></li>
							<li><a href="#">portfolio</a></li>
							<li><a href="#">Contact</a></li>
							<li><a href="#">About us</a></li>
							<li><a href="#">Our Services</a></li>
							<li><a href="#">Expert Team</a></li>
							<li><a href="#">Contact us</a></li>
							<li><a href="#">Latest News</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 mb-50">
					<div class="footer-widget">
						<div class="footer-widget-heading">
							<h3>Lavora con noi</h3>
						</div>
						<div class="footer-text mb-25">
							<p>Non perdere l'opportunità di diventare nostro partner</p>
						</div>
						<div class="subscribe-form">
							
								<input type="text" placeholder="Email Address" [(ngModel)]="mail">
								<button (click)="requestAdmin()"><i class="fab fa-telegram-plane"></i></button>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright-area">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-xl-6 col-lg-6 text-center text-lg-left">
					<div class="copyright-text">
						<p>Copyright &copy; 2024</p>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</footer>
