<section class="home container-fluid" id="home">
    <div class="row d-flex h-100 justify-content-center">
        <div class="col-12 col-md-3 col-lg-3  d-flex justify-content-center align-items-center custom-col-home{{category.productCategoryId}}" *ngFor="let category of categories">   
            <a class=" text-decoration-none" routerLink="/categories/{{category.productCategoryId}}"><p class="text-decoration-none text-custom-secondary text-custom-font categories-p-custom">{{category.name}}</p></a>  
        </div>
       
    </div>
</section>
