<section class="home container-fluid">
    <div class="row d-flex h-100 justify-content-center">
        <div class="col-3 h-100 d-flex justify-content-center align-items-center custom-col-home{{category.productCategoryId}}" *ngFor="let category of categories">
            <div class="overlay "></div>
            <a class=" text-decoration-none" routerLink="/categories/{{category.productCategoryId}}"><p class="text-decoration-none text-custom-secondary text-custom-font display-6">{{category.name}}</p></a>  
        </div>
       
    </div>
</section>
